@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div class="col-xs-12">
    <form action="" id="contact-form">
        <div><input id="email-recipient" name="email-recipient" placeholder="Email" required="" type="text" /></div>
        <div><textarea id="email-body" name="email-body" placeholder="Content" rows="3"></textarea></div>
        <div><input class="send-email" type="button" value="Send Email" /></div>
        <div class="result"></div>
    </form>
</div>

@section Scripts
{
    <script type="text/javascript" charset="utf-8">
        (function () {
            $(".send-email").on("click", function (e) {
                var recipient = $("#email-recipient").val();
                var body = $("#email-body").val();
                var subject = "Test EmailApi";

                var json = {
                    recipients: recipient,
                    subject: subject,
                    body: body
                };

                $.ajax({
                    type: "POST",
                    url: "http://localhost:9002/api/v1/Email",
                    data: JSON.stringify(json),
                    dataType: "json",
                    contentType: "application/json; charset=UTF-8",
                    async: true,
                    cache: false,
                    success: function (result) {
                        alert("Sent successfully.(" + result + ")");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR + "-" + textStatus + "-" + errorThrown);
                    }
                });
            });
        })();
    </script>
}
