@model TemplatedEmailViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="@nameof(HomeController.SendNamedTemplatedEmail)" method="post">
    <input class="form-control" asp-for="Recipient" placeholder="Recipient/Email" type="text" value="4848285@qq.com" />
    <input class="form-control" asp-for="RecipientName" placeholder="RecipientName" type="text" value="FrankH" />
    <input class="form-control" asp-for="Subject" placeholder="Subject/Title" type="text" value="test" />
    <input class="form-control" asp-for="Template" placeholder="Template/FileName" type="text" value="named.txt" />
    <div class="help-block">eg. named.txt or named.html</div>
    <label class="checkbox-inline"><input asp-for="IsHtml" type="checkbox" /><span>Is Html?</span></label>
    <input class="btn btn-success btn-block" type="submit" value="Send Email" />
</form>

<div class="@ViewData["Result"]"></div>
