@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>

<form>
    <input id="email-recipient" name="email-recipient" placeholder="Email" type="text" />
    <textarea id="email-body" name="email-body" placeholder="Content" rows="3"></textarea>
    <input class="send-email" type="button" value="Send Email" />
</form>

<div class="result"></div>

@section Scripts
    {
    <script type="text/javascript" charset="utf-8">
        (function () {
            $(".send-email").on("click", function (e) {
                var recipient = $("#email-recipient").val();
                var body = $("#email-body").val();
                var subject = "Test EmailApi";

                var json = {
                    recipients: recipient,
                    subject: subject,
                    body: body
                };

                $.ajax({
                    type: "POST",
                    url: "http://localhost:9002/api/v1/Email",
                    data: JSON.stringify(json),
                    dataType: "html",
                    contentType: "application/json; charset=UTF-8",
                    async: true,
                    cache: false,
                    success: function (result) {
                        alert("Sent successfully.(" + result + ")");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR + "-" + textStatus + "-" + errorThrown);
                    }
                });
            });
        })();
    </script>
}
