@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>

<form>
    <input class="form-control" id="recipient" name="recipient" placeholder="Recipient/EmailAddress" type="text" value="noreply@myvas.com" />
    <textarea class="form-control" id="content" name="content" placeholder="Body/Content" rows="3"></textarea>
    <input class="btn btn-success btn-block" type="button" value="Send Email" />
</form>

<div class="@ViewData["Result"]"></div>
