@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>

<form>    
    <input class="form-control" id="recipient" name="recipient" placeholder="Recipient/EmailAddress" type="text" value="noreply@myvas.com" />
    <textarea class="form-control" id="content" name="content" placeholder="Body/Content" rows="3"></textarea>
    <input class="sendemail btn btn-success btn-block" type="button" value="Send Email" />
</form>

<div class="result"></div>

@section Scripts
    {
    <script type="text/javascript" charset="utf-8">
        (function () {
            $(".sendemail").on("click", function (e) {
                var recipient = $("#recipient").val();
                var body = $("#content").val();
                var subject = "Test EmailApi";

                var json = {
                    recipients: recipient,
                    subject: subject,
                    body: body
                };

                $.ajax({
                    type: "POST",
                    url: "http://localhost:9002/Email",
                    data: JSON.stringify(json),
                    dataType: "html",
                    contentType: "application/json; charset=UTF-8",
                    async: true,
                    cache: false,
                    success: function (result) {
                        alert("Send result: " + result );
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR + "-" + textStatus + "-" + errorThrown);
                    }
                });
            });
        })();
    </script>
}
